body {
  padding-top: 70px;
}

.container {
  max-width: 1000px;
}

.jumbotron {
  text-align: left;
  background-image: url("../img/dogbackground.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.glyphicon {
  font-size: .85em;
  color: #216d3d;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #000099;
}

.carousel-indicators li {
  border-color: #000099;
}

.item-active {
  padding: 20px;
}
/*#confirmForm {
  display: none;
}*/


#inputDate1 {
  width: 300px;
}

#name {
  width: 300px;
}

#age {
  width: 300px;
}

#size{
  width: 300px;
}

#time{
  width: 300px;
}

/*.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

}*/
