body {
  padding-top: 70px;
}

#findDate {
  display: none;
}

#yourDate {
  display: none;
}

.dropdown {
  margin-top: 16px;
}

.navbar-brand {
  margin-top: 9px;
}

#modalBtn {
  margin-top: 16px;
}

.container {
  max-width: 1000px;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/dogbackground-phone.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  margin-top: 0;
}

.jumbotron h1 {
  margin-top: 0%;
  font-size: 3em;;
}

#infoSection {
  border: solid 2px;
  background-color: #f2f2f2 rgba(0, 0, 0, 0.75);;
  border-color: #e6e6e6;
  border-radius: 8px;
}

.playDateDetails{
  text-align: center;
}


#inputCalendar {
  width: 300px;
}

#name {
  width: 300px;
}

#age {
  width: 300px;
}

#size{
  width: 300px;
}

#time{
  width: 300px;
}
#sandyimg{
  display: none;
}
#apolloimg {
  display: none;
}
#gimliimg{
  display: none;
}
#snoopimg{
  display: none;
}
#samuelimg{
  display: none;
}
#newForm{
  display: none;
}
#charlieimg{
  display: none;
}
#nocow{
  display: none;
}
#rick{
  display: none;
}
#rick2{
  display: none;
}
#testfriend{
  display: none;
}

@media only screen and (min-width : 480px) {

  .jumbotron {
    background-image: url("../img/dogbackground-lg-phone.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 350px;
  }
}

@media only screen and (min-width : 768px) {

  .jumbotron {
    background-image: url("../img/dogbackground-tab.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .matchDisplay{
    text-align: right;
    border-left: solid 1px #f2f2f2;
  }
}

@media only screen and (min-width : 992px) {

  .jumbotron {
    background-image: url("../img/dogbackground.jpg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .matchDisplay{
    text-align: right;
    border-left: solid 1px #f2f2f2;
  }
